@{
    ViewData["Title"] = "Raspbian MVC Sitesi";
}

<div class="text-center">
    <h3>Raspberry Pi'dan herkese merhaba!</h3>
    <p>
        Okumuş olduğunuz bu satırlar, Raspberry Pi cihazı üzerinde çalışmakta olan bir siteden yayınlanmaktadır :) 
    </p>
</div>
